﻿@model Serler.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}
@Styles.Render("~/Content/css")
<body class="login-page">
    <div class="login-box">
        <div class="login">
            <h2>LOGIN</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>User Name</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Password</label>
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-default" href="@Url.Action("Register","Account")">Register</a>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>                        
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="empty-box">

    </div>
</body>
