﻿@model Serler.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}


<div class="container">
    <h2>Register</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Password</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Confirm Password</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Password2, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(m => m.Password2)
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>
        </div>
    }
</div>
