﻿@model Serler.Models.SearchModel

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.Attribute, new List<SelectListItem> {
                new SelectListItem { Value = "PaperTitle" , Text = "Title" },
                new SelectListItem { Value = "Author" , Text = "Author" },
                new SelectListItem { Value = "Publisher" , Text = "Publisher" }
            }, new { @class = "form-control", type = "text", name="attribute" })
        </div>
        <div class="col-md-8">
            <div class="input-group">
                @Html.TextBoxFor(m => m.SearchText, new { @class="form-control", placeholder="Search for...", name="searchText" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
}