﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SERLER</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div>
                <ul class="pull-left">
                    <li><span class="font-size-23"><a href="@Url.Action("Index","Home")">SERLER</a></span></li>
                </ul>
                <ul class="pull-right">                    
                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li><a href="#">My Page</a></li>
                        <li><a href="@Url.Action("Logout","Account")">Log Out</a></li>
                        <li>Hi, @User.Identity.Name</li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login","Account")">Log In</a></li>
                    }
                </ul>
            </div>
        </header>
        <div id="body" class="">
            <div class="menu">
                <ul>
                    <li><a href="@Url.Action("AllUsers", "Admin")">User List</a></li>
                    <li><a href="@Url.Action("SystemAdmin", "Admin")">Admin List</a></li>
                    <li><a href="@Url.Action("PendingUser", "Admin")">Pending User List</a></li>
                    <li><a href="@Url.Action("Analyst", "Admin")">Analyst List</a></li>
                    <li><a href="@Url.Action("Moderator", "Admin")">Moderator List</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.Action("Search", "Paper")">Search Paper</a></li>
                    <li><a href="@Url.Action("SubmitPaper", "Paper")">Submit Paper</a></li>
                    <li><a href="@Url.Action("QuickSubmit", "Paper")">QuickSubmit</a></li>
                    <li><a href="@Url.Action("AdministratePaper", "Paper")">Administrate Papers</a></li>
                    <li><a href="@Url.Action("ViewModeratorList", "Paper")">Moderate Paper</a></li>
                    <li><a href="@Url.Action("ViewAnalystList", "Paper")">Analyze Paper</a></li>
                </ul>
                <ul>
                    <li><a href="@Url.Action("ViewPapers", "Paper")">Example Category</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>            
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
