﻿header {
    background-color: #000000;
    height: 50px;
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

    header ul li {
        display: inline-block;
        padding: 10px;
        color: #ffffff;
    }

.font-size-23 {
    font-size: 23px;
}

header a {
    color: #ffffff;
}

    header a:hover {
        color: #ffffff;
        text-decoration: none;
    }

.content .container {
    border: 1px solid #DADADA;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: #ffffff;
    -moz-box-shadow: 5px 5px 5px #DADADA;
    -webkit-box-shadow: 5px 5px 5px #DADADA;
    box-shadow: 5px 5px 5px #DADADA;
    width: 100%;
    max-width: 1000px;
}

body {
    background-color: #f2f2f2 !important;
}

.padding20 {
    padding: 20px;
}

/**Login page*/

.login-page {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
}

.login-box {
    height: 55%;
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.login {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #CFCFCF;
    padding: 30px 70px;
    -moz-box-shadow: 10px 10px 10px #A6A6A6;
    -webkit-box-shadow: 10px 10px 10px #A6A6A6;
    box-shadow: 10px 10px 10px #A6A6A6;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    .login .btn {
        width: 100%;
    }

.empty-box {
    height: 50%;
    width: 100%;
}

.form-group .row {
    margin-top: 10px;
}

/**Side-Menu*/

.menu {
    background-color: #2c2c2c;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
}

.content {
    margin-left: 250px;
}

.menu ul {
    margin: 0;
}

.menu ul li {
    height: 35px;
    padding: 10px 0;
}

.menu ul a {
    color: #ffffff;
}

.menu ul a:hover {
    text-decoration: none;
    color: #ffffff;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}