﻿@model Serler.Models.UserViewModel

@{
    ViewBag.Title = "ModifyUser";
}

    <h2>Modify User</h2>
    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserId)
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text", ReadOnly="true" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Is Pending User</label>
                </div>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.IsPendingUser)
                    @Html.ValidationMessageFor(m => m.IsPendingUser)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Is System Admin</label>
                </div>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.IsSystemAdmin)
                    @Html.ValidationMessageFor(m => m.IsSystemAdmin)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Is Moderator</label>
                </div>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.IsModerator)
                    @Html.ValidationMessageFor(m => m.IsModerator)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Is Analyst</label>
                </div>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.IsAnalyst)
                    @Html.ValidationMessageFor(m => m.IsAnalyst)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-md-offset-2">
                    <button type="submit" class="btn btn-default">Modify</button>
                </div>
            </div>      
        </div>
    }